@media (max-width: 800px){
    .portfolioCard {
        display: flex; 
        flex-flow: column;
    }
    
    .background {
        background-size: auto;
        background-position-y: 80%;
        height: 100vh; 
    }

    .portfolioCard__details, .details__desc {
        height: auto; 
    }

    .details__title {
        margin: 5px; 
    }

    .intro__details__header {
        text-align: center; 
        position: absolute; 
        top: 50px; 
        top: 20vh;
        color: white; 
        text-shadow: 1px 1px black;
        /* text-shadow: 2px -2px black, -2px -2px black, -2px 2px black, 2px 2px black; */
    }

    #intro__container {
        width: 100%;
    }
}

