:root {
    --iconWidth: 70px; 
    --portfolioCardHeight: 400px; 
    --iconColor: rgb(0,0,0); 
}

body, html {
    /* background-color: rgb(65, 65, 255); */
    /* font-family: 'Roboto', sans-serif; */
    font-family: helvetica neue,open sans,sans-serif;
    font-weight: 100;
    line-height: 1.5;
    height: 100%;
    margin: 0px;
}

#main {
    padding: 20px;
    /* margin: 20px;  */
}

#portfolio__container, #blogposts__container, #intro__container {
    display: flex; 
    flex-flow: row wrap;
    justify-content: space-evenly;
}


#networkLinks {
    display: flex; 
    justify-content: center;
    flex-flow: row wrap;
}

.networkLinks__icon {
    box-sizing: border-box;
    height: var(--iconWidth); 
    margin: 5px;
    padding: 0px; 
    fill: var(--iconColor);
    transition: 0.2s;
    width: var(--iconWidth); 
    height: var(--iconWidth);
    max-width: var(--iconWidth); 
    max-height: var(--iconWidth); 
}

.networkLinks__icon.linkedin{ 
    /* fix linkedin icon size */
    width: 60px; 
}

.networkLinks__icon:hover {
    transition: 0.2s;
    transform: translateY(-10px);
}

/* specific icon hover effects */
.networkLinks__icon.linkedin:hover {
    fill: #0077b5;
}

.networkLinks__icon.twitter:hover {
    fill: rgb(29, 161, 242);
}

.networkLinks__icon.github {
    /* keep github icon's circular shape  */
    border-radius: 50%;
    border: 1px solid black;
}

.networkLinks__icon.github:hover {
    background-color: black;
    fill: white;
}

.networkLinks__icon.mail:hover {
    fill: #c53e30;
}

.networkLinks__icon.medium {
    border-radius: 50%;
    box-sizing: border-box;
}

.networkLinks__icon.medium:hover {
    /* keep github icon's circular shape  */
    /* border: 3px solid black; */
    fill: white;
    background-color: black;
    border: 1px solid black;
}

a {
    text-decoration: none;
}

.sectionHeader, h2 {
    /* width: 50%;  */
    text-align: center;
    font-weight: 100; 
}

.sectionHeader {
    /* border-bottom: 1px solid black; */
    /* width: 20%; */
    margin: auto;
    margin-top: 50px;
    font-size: 5rem;
}

#headshot {
    border-radius: 50%;
    max-width: 200px;
    align-self: flex-start;
}


.background {
    /* used this page for reference: 
    https://www.w3schools.com/howto/howto_css_parallax.asp
     */
    background-image: url('assets/077-MMageePhotography.jpg');
    height: 85%;
    background-attachment: fixed;
    /* background-position: center;  */
    background-position: 50% 100%; 
    background-repeat: no-repeat;
    background-size: cover; 
}

#intro__container {
    /* width: 80%; */
    flex-flow: row;
    margin: auto; 
    width: 80%;
}

#intro__container h1 {
    font-size: 6rem;
    line-height: 1;
    font-weight: 100;
    margin-top: 0px;
}

.portfolioCard {
    width: 800px; 
    min-height: var(--portfolioCardHeight);
    padding: 0px;
    margin: 10px;
    display: grid; 
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(4, 1fr); 
    /* align-items: center;     */
    /* background: pink;  */
    /* background-color: lightblue; */
    border-radius: 10px;
}

.portfolioCard__img {
    /* border: 1px solid black;  */
    /* border-radius: 10px; */
    padding: inherit;
    grid-column: 1/6;
    grid-row: 1/5; 
    place-self: center; 
    object-fit: cover; 
    padding: 0px; 
    margin: 0px; 
    width: 100%; 
    max-height: var(--portfolioCardHeight);
    overflow: hidden;
    object-position: top left;
}

.portfolioCard__details {
    display: flex; 
    flex-flow: column;
    grid-column: 5/15;
    grid-row: 1/5; 
    /* place-self: center;  */
    height: 100%;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    background-color: rgba(235, 235, 235, 0.6);
    backdrop-filter: blur(1px);
    width: auto;
}

/* give children 0 margin */
.portfolioCard__details, h3, div {
    margin: 0px;
}

.details__desc {
    color: rgb(50,50,50);
    height: 100%; 
    font-size: 1rem;
}

.details__links { 
    display: flex; 
    flex-flow: row; 
    justify-content: space-evenly;
}

.details__links a {
    text-decoration: underline;
    color: black;
}

.details__title {
    margin: auto; 
    margin-left: 0px;
    font-size: 4rem;
    text-align: left;
    width: 30%;  
}


.blogpost {
    max-width: 200px; 
    height: 250px; 
    margin: 10px;
    overflow: hidden;
}

.blogpost__preview {
    padding-top: 3px;
    white-space: normal;
    text-overflow: ellipsis;
}

/* fadeout instruction from this stack overflow post: 
https://stackoverflow.com/questions/11837606/fading-out-text-at-bottom-of-a-section-with-transparent-div-but-height-stays-un/11837686

*/
.fadeout {
        position: relative; 
        bottom: 5em;
        height: 5em;
        background-image : linear-gradient(to bottom, 
        rgba(255,255,255, 0), 
        rgba(255,255,255, 1) 70%);
}

.blogpost__date {
    font-size: 0.8rem;
    padding-top: 3px;
}

.blogpost__title {
    font-size: 1.2rem;
}